---
import Layout from "../layouts/Layout.astro";

const response = await fetch(
  `https://api.openweathermap.org/data/2.5/weather?lat=49.55231884565186&lon=25.61109140510275&appid=${import.meta.env.API_KEY}`
);
// const response = await fetch(
//   `https://api.openweathermap.org/data/2.5/weather?lat=${import.meta.env.LOCATION_LAT}&lon=${import.meta.env.LOCATION_LON}&appid=${import.meta.env.API_KEY}`
// );
const weather = await response.json();
---

<Layout title="Маслов Центр">
  <main class="flex flex-col gap-8 mx-3 my-8">
		ASTRO
  </main>
</Layout>